absl-py==2.1.0
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albucore==0.0.14
albumentations==1.4.14
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.4
annotated-types==0.7.0
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
beautifulsoup4==4.12.3
blessed==1.20.0
blis==0.7.11
Bottleneck==1.4.0
cachetools==5.3.3
catalogue==2.0.10
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
clip==0.2.0
cloudpathlib==0.19.0
codecov==2.1.13
colorama==0.4.6
confection==0.1.5
contourpy==1.1.1
coverage==7.6.1
crcmod==1.7
cryptography==43.0.0
cycler==0.12.1
cymem==2.0.8
easydict==1.12
editdistance==0.8.1
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastai==1.0.60
fastprogress==1.0.3
filelock==3.14.0
fire==0.6.0
flake8==7.1.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.2.0
ftfy==6.1.3
google-auth==2.29.0
google-auth-oauthlib==1.0.0
gpustat==1.1.1
grpcio==1.62.1
huggingface-hub==0.20.3
idna==3.6
imageio==2.35.1
imgaug==0.4.0
importlib_metadata==7.1.0
importlib_resources==6.4.4
iniconfig==2.0.0
interrogate==1.7.0
isort==5.13.2
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.4.2
kiwisolver==1.4.5
kwarray==0.7.0
langcodes==3.4.0
language_data==1.2.0
lanms_neo==1.0.2
lazy_loader==0.4
lmdb==1.4.1
lxml==5.2.2
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mccabe==0.7.0
mdurl==0.1.2
mmcv==2.0.0
mmdet==3.0.0
mmengine==0.10.4
-e git+https://github.com/Mountchicken/Union14M.git@7fbb89a8e33b80e184d3aea8c3270f6d697827bf#egg=mmocr&subdirectory=mmocr-dev-1.x
model-index==0.1.11
multidict==6.0.5
murmurhash==1.0.10
natsort==8.4.0
networkx==3.1
nltk==3.9.1
numexpr==2.8.6
numpy==1.24.4
nvidia-ml-py==12.535.133
nvidia-ml-py3==7.352.0
oauthlib==3.2.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.1
ordered-set==4.1.0
oss2==2.17.0
packaging==24.1
pandas==2.0.3
parameterized==0.9.0
pillow==10.2.0
platformdirs==4.2.2
pluggy==1.5.0
preshed==3.0.9
protobuf==3.19.0
psutil==5.9.6
py==1.11.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyclipper==1.3.0.post5
pycocotools==2.0.7
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.1.4
pytest==8.3.2
pytest-cov==5.0.0
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
pytils==0.4.1
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0.2
rapidfuzz==3.9.6
regex==2024.9.11
requests==2.28.2
requests-oauthlib==2.0.0
rich==13.4.2
rsa==4.9
safetensors==0.4.4
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
soupsieve==2.6
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spikingjelly==0.0.0.0.12
srsly==2.4.8
tabulate==0.9.0
tensorboard==1.15.0
tensorboard-data-server==0.7.2
tensorboard-logger==0.1.0
tensorboardX==2.2
termcolor==2.4.0
terminaltables==3.1.10
thinc==8.2.5
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tifffile==2023.7.10
timm==0.6.12
tokenizers==0.15.2
tomli==2.0.1
tools==0.1.9
torch @ https://download.pytorch.org/whl/cu113/torch-1.12.1%2Bcu113-cp38-cp38-linux_x86_64.whl#sha256=4adf483ac2d047534a7d023f0022bd8694d87627068ad6dddf186cb3273bbfa2
torchaudio @ https://download.pytorch.org/whl/cu113/torchaudio-0.12.1%2Bcu113-cp38-cp38-linux_x86_64.whl#sha256=07324a67c069a986bb991c509c9442e8fce72326941e55fa4738d88cbb806047
torchvision @ https://download.pytorch.org/whl/cu113/torchvision-0.13.1%2Bcu113-cp38-cp38-linux_x86_64.whl#sha256=899cac298d2a7cf6a8ca62d3ede2a7d3f50b86027f8be2d15639baf74da5d8f0
tqdm==4.65.2
transformers==4.38.1
typer==0.12.5
typing_extensions==4.10.0
tzdata==2024.1
ubelt==1.3.6
urllib3==1.26.20
Wand @ file:///wangx/OCR_baseline/Wand-0.6.7-py2.py3-none-any.whl#sha256=5ba497e90741a05ebce4603b04ee843150c566482a753554da54dc57d8503bba
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.2
wrapt==1.16.0
xdoctest==1.2.0
yapf==0.40.2
yarl==1.9.4
zipp==3.18.1
